<div class="container">
    <app-header></app-header>
    <hr>
    <!-- indica a angular dónde cargar los componentes de las rutas -->
    <router-outlet></router-outlet>
</div>
<app-error></app-error>