<div class="col-md-8 col-md-offset-2">
    <!-- #f="ngForm" tomar el control del objeto javascript #f -->
    <form (ngSubmit)="onSubmit(f)" #f="ngForm">
        <div class="form-group">
            <label for="content">Content</label>
            <!-- ngModel agrega un control al input -->
            <!-- message?.content toma el valor del content en caso de que message no sea undefined -->
            <input type="text" id="content" class="form-control" [ngModel]="message?.content" name="content" required>
        </div>
        <button class="btn btn-primary" type="submit">Save</button>
        <button class="btn btn-danger" type="button" (click)="onClear(f)">Clear</button>
    </form>
</div>