<article class="panel panel-default">
    <div class="panel-body">
        {{message.content}}
    </div>
    <footer class="panel-footer">
        <div class="author">
            {{message.username}}
        </div>
        <div class="config">
            <a (click)="onEdit()" *ngIf="belongsToUser()">Editar</a>
            <a (click)="onDelete()" *ngIf="belongsToUser()">Eliminar</a>
        </div>
    </footer>
</article>